{{!textarea value=userData placeholder="JSON" cols=75 rows=5}}
<!--<section>-->
<!--<button {{!action 'loadUsers'}}>Load {{!model.name}} Users</button>-->
<!--</section>-->

<div class="row">
  <div class="col-lg-12">
    <h3>User</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="25%">Name</th>
          <th width="20%">Age</th>
          <th width="25%">Zip Code</th>
          <th width="30%">Race</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{model.fullName}}</td>
          <td>{{model.age}}</td>
          <td>{{model.zipCode}}</td>
          <td>{{#link-to 'races.race' model.race.id}}{{model.race.name}}{{/link-to}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
