<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      <div class="jumbotron">
        <h1>RaceMe - A Demo App</h1>
        <p>This is a demo Ember.js 2.0 app that has a ton of features:</p>
        <ul>
          <li>Components</li>
          <li>Computed Properties</li>
          <li>Ember Data and relationships</li>
          <li>Custom adapter to <a href="https://www.firebase.com/" target="_blank">Firebase</a></li>
          <li>Meta programming model properties</li>
          <li>Ember 2.0 compliant (no deprecations)</li>
          <li>Ember CLI compatibility</li>
          <li>Little Helper</li>
          <li>No testing yet - See: <a href="http://guides.emberjs.com/v2.0.0/testing/" target="_blank">http://guides.emberjs.com/v2.0.0/testing/</a></li>
        </ul>
        <p><a class="btn btn-success btn-lg" href="http://emberjs.com/" target="_blank">Ember.js</a></p>
      </div>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
  </div>
</div>

<footer class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/ryanlitalien">Twitter</a> | <a href="https://github.com/ryanlitalien/">GitHub</a></li>
        <li>Made by <a href="http://www.ryanlitalien.com">Ryan L'Italien</a>.</li>
        <li>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</li>
      </ul>
    </div>
  </div>
</footer>
